<!DOCTYPE html>
<html>
  <head>
    <title>Tescue ~TaskRescue~ タスク管理お助けアプリ </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
        <h1><%= link_to 'TESCUE', root_path %></h1>
                <div class="log_and_new">
             <% if user_signed_in? %>
             <%= link_to "#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
             <%= link_to 'ログアウト', destroy_user_session_path,data: { turbo_method: :delete },class:"log_out" %>
            <% else %>
            <%= link_to '新規登録', new_user_registration_path,class:"new_login" %>
             <%= link_to 'ログイン', new_user_session_path ,class:"new_login"%>
             <% end %>
                </div>             

    </header>    
        <nav>
            <ul class="nav-list">
    
             <li><%= link_to 'タスク', root_path %></li>
             <li><%= link_to 'カテゴリー', root_path %></li>
             <li><%= link_to '達成', root_path %></li>
             <li><%= link_to '設定', root_path %></li>
            </ul>
        </nav>
        <main>
    <%= yield %>
      </main>
    <footer>
      ©TesCue
      </footer>
  </body>
</html>
