<!DOCTYPE html>
<html>
  <head>
    <title>Tescue ~TaskRescue~ タスク管理お助けアプリ </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
        <h1>TESCUE</h1>
    </header>    
        <nav>
            <ul class="nav-list">
    
             <li><%= link_to 'タスク', root_path %></li>
             <li><%= link_to 'カテゴリー', root_path %></li>
             <li><%= link_to '達成', root_path %></li>
             <li><%= link_to '設定', root_path %></li>
            </ul>
        </nav>
        <main>
      </main>
    <%= yield %>
    <footer>
      ©TesCue
      </footer>
  </body>
</html>
